{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}To-Do{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block extra_head %}{% endblock %}
</head>
<body>
  <aside class="sidebar" id="sidebar">
    <a href="{% url 'todo:task-list' %}" class="logo">FocusList</a>
    <nav class="menu">
      <a href="{% url 'todo:tags-list' %}" class="menu-item active">Tags</a>
    </nav>
  </aside>

  <main class="main">
    {% block content %}{% endblock %}
  </main>

  <script src="{% static 'js/app.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>